.faq-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 100px 0 100px;
  }
  
.faq-main-title {
    display: flex;
    justify-content: center;
    font-size: 48px;
    color: #ffffff;
    margin-bottom: 20px;
    margin-top: 30px;
}
.faq-title {
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 20px;
    margin-top: 30px;
} 

.faq-text {
    font-size: 24px;
    color: #cccccc;
    margin-bottom: 30px;
}

.faq-card{
    background-color: #2a242e;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}