body{
    background-color: bisque;
}

.container{
    width: 100%;
    max-width: 1000px;
    border: 1px solid;
    margin: 0 auto;
}

header{
    height: 100px;
    background-color: burlywood;
}

header h1{
    color: white;
    font-size: 35px;
    padding: 25px;
}